In [4]:
import pandas as pd
path1 = "./data/chipotle.tsv" 
chipo = pd.read_csv(path1, sep = '\t')
# 步骤4 查看前10行内容
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [2]:
# 步骤6 数据集中有多少个列
chipo.shape[1]

5

In [3]:
# 步骤7 打印出全部的列名称
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [4]:
# 步骤8 数据集的索引是怎样的
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [3]:
#步骤9 被下单数最多商品(item)是什么?
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).agg({'quantity':sum})
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

NameError: name 'chipo' is not defined

In [6]:
# 步骤10 在item_name这一列中，一共有多少种商品被下单？
chipo['item_name'].nunique()

50

In [7]:
# 步骤11 在choice_description中，下单次数最多的商品是什么？
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [8]:
# 步骤12 一共有多少商品被下单？
total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

In [9]:
# 步骤13 将item_price转换为浮点数
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [10]:
# 步骤14 在该数据集对应的时期内，收入(revenue)是多少
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

In [11]:
# 步骤15 在该数据集对应的时期内，一共有多少订单？
chipo['order_id'].nunique()

1834

In [12]:
# 步骤16 每一单(order)对应的平均总价是多少？
chipo[['order_id','sub_total']].
groupby(by=['order_id']
).agg({'sub_total':'sum'})['sub_total'].mean()

SyntaxError: invalid syntax (<ipython-input-12-ebac4c301d8c>, line 2)

In [ ]:
# 步骤17 一共有多少种不同的商品被售出？
chipo['item_name'].nunique()