# 创建数据
#### 创建Series

In [5]:
import pandas as pd

s = pd.Series(['banana',42])
print('---- default index ----')
print(s)
s = pd.Series(['Wes McKinney','Creator of Pandas'],index=['Person','Who'])
print("---- with index ----")
print(s)

---- default index ----
0    banana
1        42
dtype: object
---- with index ----
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### 创建DataFrame

In [13]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist','Statistician'],
    'Born': ['1920-07-25','1876-06-13'],
    'Died': ['1958-04-16','1937-10-16'],
    'Age':[37, 61],
})
print('---- default index ----')
print(scientists)
def dfWithIndex ():
    scientists = pd.DataFrame(data={
        'Name': ['Rosaline Franklin', 'William Gosset'],
        'Occupation': ['Chemist','Statistician'],
        'Born': ['1920-07-25','1876-06-13'],
        'Died': ['1958-04-16','1937-10-16'],
        'Age':[37, 61]},
        index=['Rosaline Franklin','William Gosset'],
        columns=['Occupation','Born','Died','Age'])
    return scientists
print("---- with index ----")
print(dfWithIndex())

---- default index ----
                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
---- with index ----
                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [11]:
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name',['Rosaline Franklin','William Gosset']),
    ('Occupation',['Chemist','Statistician']),
    ('Born',['1920-07-25','1876-06-13']),
    ('Died',['1958-04-16','1937-10-16']),
    ('Age',[37, 61])
]))
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

#### series的操作

In [31]:
scientists = dfWithIndex ()
print(scientists)
first_row = scientists.loc['William Gosset']
print("--print-row---")
print(first_row)
print("---------")
print("type: ",type(first_row))
print("index: ",first_row.index)
print("values: ",first_row.values)
print("values[0]: ",first_row.values[0])
print("keys: ",first_row.keys())
print("keys[0]: ",first_row.keys()[0])

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61
--print-row---
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object
---------
type:  <class 'pandas.core.series.Series'>
index:  Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
values:  ['Statistician' '1876-06-13' '1937-10-16' 61]
values[0]:  Statistician
keys:  Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
keys[0]:  Occupation

In [37]:
scientists = pd.read_csv('./data/scientists.csv')
ages = scientists['Age']
print(ages)
print(" ----- ")
print("type: ",type(ages))
print("mean: ",ages.mean())
print("min: ",ages.min())
print("max: ",ages.max())
print("std: ",ages.std())
print("describe: ",ages.describe())

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
 -----
type:  <class 'pandas.core.series.Series'>
mean:  59.125
min:  37
max:  90
std:  18.325918413937288
describe:  count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

##### 布尔子集 series

In [38]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [39]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

##### 布尔子集

In [40]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

##### 向量化

In [42]:
print("同长度向量进行计算")
print(ages + ages)
print(ages * ages)
print("同长度向量")
print(ages+1)

同长度向量进行计算
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
同长度向量
0    38
1    62
2    91
3    67
4    57
5    46
6    42
7    78
Name: Age, dtype: int64

In [44]:
print("不同长度向量间的运算")
print(ages+pd.Series([1,100]))

不同长度向量间的运算
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

###### 带索引的向量会自动对齐(基于索引)

In [45]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [49]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [51]:
print(ages*2)
print("----取值相反的情况下--数值依然相同")
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
----取值相反的情况下--数值依然相同
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### DataFrame的布尔子集

In [52]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [54]:
print(scientists.loc[[True, True, False, True, False, False, False, False]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

#### DataFrame向量化计算

In [55]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [62]:
print(scientists['Born'].dtype)
print('object 就是string , 把他变成 date')
born_dt = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
die_dt = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(born_dt.dtype)

object
object 就是string , 把他变成 date
datetime64[ns]

##### 添加列

In [63]:
scientists['born_dt'],scientists['died_dt']=born_dt,die_dt
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23

##### 删除列

In [65]:
df = scientists.drop(['Age'], axis=1)
df

,Name,Born,Died,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,Biologist,1907-05-27,1964-04-14
5,John Snow,1813-03-15,1858-06-16,Physician,1813-03-15,1858-06-16
6,Alan Turing,1912-06-23,1954-06-07,Computer Scientist,1912-06-23,1954-06-07
7,Johann Gauss,1777-04-30,1855-02-23,Mathematician,1777-04-30,1855-02-23

In [66]:
#### 保存 , 还支持 csv等多种格式
df.to_clipboard()

In [67]:
df.to_json()

'{"Name":{"0":"Rosaline Franklin","1":"William Gosset","2":"Florence Nightingale","3":"Marie Curie","4":"Rachel Carson","5":"John Snow","6":"Alan Turing","7":"Johann Gauss"},"Born":{"0":"1920-07-25","1":"1876-06-13","2":"1820-05-12","3":"1867-11-07","4":"1907-05-27","5":"1813-03-15","6":"1912-06-23","7":"1777-04-30"},"Died":{"0":"1958-04-16","1":"1937-10-16","2":"1910-08-13","3":"1934-07-04","4":"1964-04-14","5":"1858-06-16","6":"1954-06-07","7":"1855-02-23"},"Occupation":{"0":"Chemist","1":"Statistician","2":"Nurse","3":"Chemist","4":"Biologist","5":"Physician","6":"Computer Scientist","7":"Mathematician"},"born_dt":{"0":-1560124800000,"1":-2952201600000,"2":-4722192000000,"3":-3223584000000,"4":-1975536000000,"5":-4948128000000,"6":-1815350400000,"7":-6080140800000},"died_dt":{"0":-369619200000,"1":-1016496000000,"2":-1874102400000,"3":-1120176000000,"4":-180403200000,"5":-3520022400000,"6":-491356800000,"7":-3624480000000}}'