In [2]:
import sys
import os
lib=os.getcwd()+"/lib"
sys.path.append(lib) 

cfg=os.getcwd()+"/resource/cfg/ds.json"

In [3]:
import udf.pg as p
ds = p.Pg(cfg)
df = ds.query("select user_id from member_users order by user_id asc","dev")
v=df['user_id'].to_numpy()

In [4]:
class MyQuery(p.ISubQ):
        
    def sql(self, ids):
        return "select user_id,ct from member_users where user_id in"+str(tuple(ids))+" order by user_id asc"

In [6]:
result=ds.queryall(df["user_id"],sb=MyQuery(),db="dev",eachSize=10000)
result.describe()

Done

             user_id            ct
count  303912.000000  3.039120e+05
mean   153377.859966  1.567255e+12
std     88145.931465  3.035794e+09
min         1.000000  1.566981e+12
25%     77184.750000  1.566983e+12
50%    153624.500000  1.566985e+12
75%    229602.250000  1.566987e+12
max    309751.000000  1.620894e+12

In [7]:
df.set_index('user_id')
df

        user_id
0             1
1             5
2             7
3             8
4             9
...         ...
303907   309746
303908   309747
303909   309748
303910   309750
303911   309751

[303912 rows x 1 columns]

In [8]:
result.set_index('user_id')
result

       user_id             ct
0            1  1566989096130
1            5  1566989096200
2            7  1566989096235
3            8  1566989096253
4            9  1566989096275
...        ...            ...
10125   309746  1620433056911
10126   309747  1620433646137
10127   309748  1620466001906
10128   309750  1620801798492
10129   309751  1620894235204

[303912 rows x 2 columns]